---
import { i18nAdapter, l, t } from "src/utils/i18n";
import P from "src/utils/i18n/P.astro";
i18nAdapter.init(Astro);

import TopLayout from "src/layouts/TopLayout.astro";
import Container from "src/components/Container.astro";
import Balloon from "src/components/Balloon.astro";

import { Image } from "astro:assets";
import sopotan1 from "src/assets/sopotan1.png";
import sopotan4_r from "src/assets/sopotan4_reversed.png";

import { DEFAULT_TIMEZONE } from "src/consts";
import { getCollection } from "astro:content";

const locale = i18nAdapter.locale;

import dayjs from "dayjs";
import "dayjs/locale/en";
import "dayjs/locale/ja";
import DayJSUtc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import LocalizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(LocalizedFormat);
dayjs.extend(DayJSUtc);
dayjs.extend(timezone);
dayjs.tz.setDefault(DEFAULT_TIMEZONE);
dayjs.locale(locale);

const regex = new RegExp(`^${locale}/`);

const newsCollection = await getCollection("news");
const isNewsExist = Array.isArray(newsCollection) && newsCollection.length >= 1;

const news = isNewsExist
  ? newsCollection
      .filter((n) => n.slug.startsWith(locale))
      .sort((a, b) => (a.data.publishedAt > b.data.publishedAt ? -1 : 1))
  : [];
const newsIds = isNewsExist ? news.map((entry) => entry.slug.replace(regex, "")) : [];

import { SOPOTAN_TWITTER_ID } from "src/consts";
const xAccountURL = "https://twitter.com/" + SOPOTAN_TWITTER_ID.replace("@", "");
---

<TopLayout>
  <div class="to-sos">
    <a href="https://entry.sohosai.com/"><span>雙峰祭企画応募者はこちら</span></a>
  </div>
  <Container>
    <section>
      <h2>{t("top.お知らせ")}</h2>
      <div class="news">
        {
          news.length >= 1 ? (
            news.map((entry, index) => (
              <p>
                <time class="date" datetime={dayjs(entry.data.publishedAt).tz().format("YYYY-MM-DD")}>
                  {dayjs(entry.data.publishedAt).tz().format("LL")}
                </time>
                <a href={`${l("news")}#${newsIds[index]}`} class="news_link">
                  {entry.data.title}
                </a>
              </p>
            ))
          ) : (
            <p>{t("news.newsなし")}</p>
          )
        }
      </div>
    </section>
    <section class="sohosai-info">
      <h2>{t("top.雙峰祭のご案内")}</h2>
      <Balloon image={sopotan4_r} , alt={t("top.そぽたんaltテキスト")}>
        <span>
          {t("top.説明1")}
        </span>
      </Balloon>
      <h3>{t("top.雙峰祭とは")}</h3>
      <p>{t("top.雙峰祭説明文")}</p>
      <h3>{t("top.そぽたん")}</h3>

      <P key="top.そぽたん説明文" />
      <p>
        <a href={xAccountURL}>{t("top.Twitterアカウント")}</a>
      </p>
      <div class="sopotan">
        <Image src={sopotan1} alt={t("top.そぽたん1altテキスト")} />
      </div>
    </section>
  </Container>
</TopLayout>

<style lang="scss">
  .to-sos {
    padding-block: 2rem;

    > a {
      position: relative;
      z-index: 0;
      display: block;
      padding-block: 1.5rem;
      overflow: hidden;
      font-size: 1.25rem;
      font-weight: 600;
      color: white;
      text-align: center;
      text-decoration: none;
      background-color: $orange;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url("./sos-sopo.png");
        background-repeat: no-repeat;
        background-position: 30% 55%;
        background-size: 25rem;
        opacity: 0.3;
      }

      > span {
        position: relative;
        z-index: 300;
      }
    }
    @media screen and ($pc-query) {
      width: 100%;
      max-width: $content-width;
      padding-inline: $side-padding;
      margin-inline: auto;

      > a {
        width: fit-content;
        padding-inline: 2rem;
        border-radius: 3rem;

        &::before {
          background-position: 30% 55%;
          background-size: 20rem;
        }
      }
    }
  }

  .news {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 1em 1ic;
    align-items: center;
    justify-content: start;
    margin: 1em 0;

    p {
      display: contents;
      margin: 1em 0;

      & time {
        grid-column: 1/2;
        font-size: 0.9rem;
      }

      & a {
        grid-column: 2/3;
        line-height: 1.25;
      }
    }
  }

  h3 {
    margin-block: 0.75em;
    font-size: 1.375em;
    font-weight: 600;
  }

  .sopotan {
    display: flex;
    flex-direction: row;
    gap: 0 1.25rem;
    width: 100%;
    height: 12.5rem;
    overflow-x: auto;

    img {
      width: auto;
      height: 100%;
    }
  }

  .sohosai-info {
    margin-inline-start: 0.75rem;

    h2 {
      margin-inline-start: -0.75rem;
    }
  }
</style>
