---
import { i18nAdapter, l, t } from "src/utils/i18n";
i18nAdapter.init(Astro);

import TopLayout from "src/layouts/TopLayout.astro";
import Container from "src/components/Container.astro";

import { getCollection } from "astro:content";

const locale = i18nAdapter.locale;
const news = (await getCollection("news")).filter((n) => n.slug.startsWith(locale));
const regex = new RegExp(`^${locale}/`);
const newsIds = news.map((entry) => entry.slug.replace(regex, ""));
---

<TopLayout>
  <Container>
    <section>
      <h2>{t("top.雙峰祭とは")}</h2>
      <p>{t("top.雙峰祭説明文")}</p>
    </section>
    <section>
      <h2>{t("top.お知らせ")}</h2>
      <div class="news">
        {
          news.map((entry, index) => (
            <p>
              <time class="date" datetime={entry.data.publishedAt}>
                {entry.data.publishedAt}
              </time>
              <a href={l(`./news/index.html#${newsIds[index]}`)} class="news_link">
                {entry.data.title}
              </a>
            </p>
          ))
        }
      </div>
    </section>
  </Container>
</TopLayout>

<style lang="scss">
  .news {
    p {
      display: flex;
      align-items: center;
      margin: 1em 0;

      & time {
        flex-shrink: 0;
        margin-inline-end: 1ic;
        font-size: 0.9rem;
      }

      & a {
        line-height: 1.25;
      }
    }
  }
</style>
